.inputBox{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(100.27deg, #EFF3FD 33.17%, rgba(239, 243, 253, 0) 122.24%);
  border-radius: 0px 0px 20px 20px;
  border: 7px 0px 0px 0px;
  opacity: 0px;
}
.inputBoxTop{
  display: flex;
  align-items: center;
  gap: 10px;
}
.inputBoxLeft{
  border: 1px solid rgba(227, 236, 255, 1);
  width: 265px;
  height:40px;
  padding: 0px 10px 0px 20px;
  border-radius: 10px ;
  background-color: white;
  display: flex;
  align-items: center;
}
.inputBoxLeft input{
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: rgba(148, 148, 148, 1);
  width: 100%;
}
.inputBoxTop button{
  height:40px;
  padding: 8px 35px 8px 35px;
  border-radius: 10px ;
  background: rgba(76, 130, 239, 1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poweredBy{
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: rgba(177, 177, 177, 1);
}
.inputBoxBottom{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.krunk{
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: rgba(122, 127, 140, 1);
}